<!-- http://www.codingforums.com/javascript-programming/105808-highlight-select-text.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Paste it!</title>
    <style type="text/css">
    <!-- 
        body {
          background-color: #1B2426;
        }
        #showurl {
            font-size: 1.8em;
            background-color: #202C2E;
            height: 4em;
            line-height: 4em;
            text-align: center;
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        a {
            color: #F0F0F0;
            text-decoration: none;
        }
    -->
    </style>
 </head>
  <body>
        <div id="showurl"><a href="http://{{.Host}}/{{.Name}}">http://{{.Host}}/{{.Name}}</a></div>
</body>
</html>
